<section>
                <ul class="nav nav-pills">
                    <li ng-class="{active: p.isSelected(1)}"><a href="" ng-click="p.selectTab(1)">Descripción</a></li>
                    <li ng-class="{active: p.isSelected(2)}"><a href="" ng-click="p.selectTab(2)">Especificaciones</a></li>
                    <li ng-class="{active: p.isSelected(3)}"><a href="" ng-click="p.selectTab(3)">Reseñas</a></li>
                </ul>
                <div class="panel" ng-show="p.isSelected(1)">
                    <h4>Description</h4>
                    <blockquote>{{product.description}}</blockquote>
                </div>
                <div class="panel" ng-show="p.isSelected(2)">
                    <h4>Especificaciones</h4>
                    <blockquote>Vacío</blockquote>
                </div>
                <div class="panel" ng-show="p.isSelected(3)">
                    <h4>Reseñas</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Estrellas: {{review.stars}}</b>
                        {{review.body}}
                        <cite>by: {{review.author}}</cite>
                    </blockquote>
                    <product-reviews></product-reviews>
                </div>
</section>